<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="field is-horizotal">
        <div class="field-body">
            <div class="field is-narrow">
                <p class="control">
                    <input name="amount" required style="width:100px" type="number" placeholder="Amount" class="input" [ngModel]="item.amount">
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input name="description" required type="text" placeholder="Description" class="input" [ngModel]="item.description">
                </p>
            </div>
            <div class="field is-narrow">
                <button class="button" [ngClass]="{'is-primary':isNewItem,'is-success':!isNewItem }" type="submit" [disabled]="!itemForm.valid" >
                    <p *ngIf="isNewItem">Add</p>
                    <p *ngIf="!isNewItem">Save</p>
                </button>
            </div>
        </div>
    </div>
</form>